.About__Section {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 3rem 0;
  max-width: 60rem;
}
.About__Section h2 {
  opacity: 0;
}
.Description p {
  transform: translate(0, 80px);
  opacity: 0;
}
.Description p {
  text-align: justify;
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--color-text-light);
  max-width: 35rem;
}
.Photo {
  text-align: center;
  margin: 20px 0;
}
.Photo img{
  width: 100px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .About__Resume {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}
