.About__Section{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}
.Description p {
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--color-text-light);
}