.About__Section {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 3rem 0;
  max-width: 60rem;
}
.About__Section h2 {
  opacity: 0;
}
.Description {
  height: 100%;
}
.Description p {
  text-align: justify;
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--color-text-light);
  max-width: 35rem;
  opacity: 0;
}
.Photo {
  margin: 20px auto;
  border-radius: 1.5rem;
  opacity: 0;
  width: 12rem;
  height: 15rem;
  overflow: hidden;
}
.Photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .About__Resume {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}
