.Contact__Section {
  height: 50rem;
  margin: 3rem 0 5rem 0;
}
.Contact__Section button {
  background-color: var(--color-green-dark);
}
.Contact__Links {
  margin-top: 4rem;
  display: grid;
  justify-content: center;
  gap: 3rem;
  
}
.Contact-Email {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--color-green-dark);
  color: var(--color-green-dark);
  text-align: center;
  line-height: 40px;
  justify-self: center;
}
.Contact__Links span {
  font-size: 1.4rem;
}
.Contact__Links ul {
  justify-self: center;
  display: flex;
}
.Contact__Links li {
  font-size: 2rem;
  margin: 0 2rem;
}