.Contact__Section {
  height: 40rem;
  margin: 3rem 0 5rem 0;
}
.Contact__Section button {
  background-color: var(--color-green-dark);
}
.Contact__Links {
  height: 80%;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}
.Contact-Email {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--color-text-light);
  color: var(--color-green-dark);
  text-align: center;
  line-height: 50px;
  justify-self: center;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  transition-property: background-color color border-color;
  transition-duration: .5s;
}
.Contact-Email:hover {
  background-color: var(--color-green-dark-strong);
  border-color: var(--color-green-dark);
  color: var(--color-text-dark);
}
.Contact__Links span {
  font-size: 1.4rem;
}
.Contact__Links ul {
  justify-self: center;
  display: flex;
}
.Contact__Links li {
  font-size: 3rem;
  margin: 0 2rem;
}
.Contact__Links li:nth-child(1) {
  color: #0E76A8;
}
.Contact__Links li:nth-child(2) {
  color: #1C99E6;
}
.Contact__Links li:nth-child(3) {
  color: #F2F2F2;
}