.Header {
  background-color: var(--color-background-second);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s;
  padding: 10px;
  height: 3rem;
}
.Logo__Header {
  height: auto;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {

}
