.Header {
  background-color: var(--color-background-second);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -5rem;
  left: 0;
  right: 0;
  transition: transform 0.4s;
  padding: 0 25px;
  height: 5rem;
  overflow: hidden;
  z-index: 10;
}
.Logo__Header {
  height: 100%;
  transform: rotate(90deg);
}
.scroll-down .Header {
  transform: translate3d(0, -100%, 0);
}
.scroll-up {
  transform: none;
}