.Hero {
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--color-text-dark);
}
.Hero__Section {
  display: grid;
  grid-template-rows: 5rem 3rem 5rem 10rem 5rem;
  justify-content: center;
  align-items: center;
  width: auto;
}
.Hero__Section h1 {
  opacity: 0;
  font-size: 1.8rem;
  font-family: "Poiret One", cursive, sans-serif;
}
.Hero__Section h2 {
  opacity: 0;
  font-size: 4rem;
}
.Hero__Section h3 {
  opacity: 0;
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  font-family: "Poiret One", cursive, sans-serif;
}
.Hero__Section p {
  opacity: 0;
  font-size: 1.2rem;
  color: var(--color-text-light);
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
}
.First__Button {
  opacity: 0;
  background-color: transparent;
  width: 13rem;
  height: 3.7rem;
  border-radius: 5px;
  color: var(--color-text-dark);
  border: 1px solid var(--color-green-dark-strong);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 3.7rem;
  justify-self: center;
  transition-property: background-color;
  transition-duration: .5s;
  cursor: pointer;
}
.First__Button:hover {
  background-color: var(--color-green-dark-strong);
}
@media screen and (min-width: 1024px) {
  .Hero__Section p {
    width: 50rem;
  }
  .First__Button {
    justify-self: start;
  }
}
