@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



.Hero {
  font-family: 'Poiret One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  color: var(--color-text-dark);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
  color: var(--color-green-light);
}
p {
  color: var(--color-text-light);
}