.Hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-text-dark);
}
.Hero__Section {
  display: grid;
  grid-template-rows: 50px 50px 20px 100px 50px;
  align-items: center;
}
.Hero__Section h1 {
  font-size: 3.5rem;
  font-family: 'Poiret One', cursive, sans-serif;
}
.Hero__Section h2 {
  font-size: 2.5rem;
  color: var(--color-green-light);
  font-family: 'Poiret One', cursive, sans-serif;
}
.Hero__Section h3 {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  font-family: 'Poiret One', cursive, sans-serif;
}
.Hero__Section p {
  font-size: 1.2rem;
  color: var(--color-text-light);
  letter-spacing: 1px;
}
.First__Button {
  background-color: transparent;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: var(--color-text-dark);
  border: 1px solid var(--color-green-dark);
}