.Overlay {
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgb(56, 58, 56);
}
.prueba {
  position: absolute;
  width: 150px;
  transform: rotate(90deg);
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.Layout {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background-color: var(--color-background);
  position: relative;
  z-index: 0;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .Layout {
    padding: 0 80px;
  }
}
@media screen and (min-width: 1024px) {
  
}
@media screen and (min-width: 1220px) {
  .Layout {
    padding: 0 150px;
  }
}
@media screen and (min-width: 1400px) {
  .Layout {
    padding: 0 280px;
  }
}
@media screen and (min-width: 1600px) {
  .Layout {
    padding: 0 350px;
  }
}
@media screen and (min-width: 1800px) {
  .Layout {
    padding: 0 400px;
  }
}