.Navbar__Logo {
  font-size: 30px;
  color: var(--color-green-dark);
}
.Navbar__Wrapper {
  display: none;
}
.Navbar__Links {
  position: fixed;
  top: 0;
  right: -220px;
  bottom: 0;
  width: 220px;
  background-color: var(--color-green-light);
  z-index: 10;
  transition: 0.5s;
}
.Navbar__Active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  background-color: var(--color-green-light);
  z-index: 10;
  transition: 0.5s;
}
.Navbar__Content ul {
  display: grid;
  row-gap: 50px;
  grid-auto-flow: row;
  margin: 50px 10px;
  align-items: center;
}

.Wrapper__Active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  transition: 0.5s;
}
.Toggle__DarkMode {
  position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
label {
	position: relative;
	display: block;
	width: 70px;
	height: 30px;
	border-radius: 100px;
	background-color: #3b3c42;
	overflow: hidden;
	cursor: pointer;
}
label:before{
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  transition: .5s ease;
  background-color: #ffa41b;
}
label:after {
  display: block;
  position: absolute;
  content: "";
  width: 54px;
  height: 40px;
  border-radius: 50%;
  top: -5px;
  left: -110px;
  transition: .5s ease;
  background-color: #3b3c42;
  transform: scale(0.00001);
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + label:before {
  background-color: #FFF;
	transform: translateX(50px);
}
input[type="checkbox"]:checked + label:after {
  transform: translateX(120px) scale(1);
}


@media screen and (min-width: 1024px) {
  .Navbar__Logo {
    display: none;
  }
  .Navbar__Content{
    visibility: visible;
  }
  .Navbar__Links {
    position: relative;
    right: 0;
    background-color: transparent;
    width: 500px;
  }
  .Navbar__Active {
    position: relative;
    right: 0;
    background-color: transparent;
    width: 500px;
  }
  .Navbar__Content a {
    color: var(--color-green-dark);
    position: relative;
  }
  .Navbar__Content a:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: -1px;
    background-color: var(--color-background-second);
    height: 7%;
    width: 0%;
    transition-property: width background-color;
    transition-duration: 1s;
  }
  .Navbar__Content a:hover::after {
    width: 100%;
    background-color: var(--color-green-dark);
  }
  .Navbar__Content ul {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
  }
  .Wrapper__Active {
    display: none;
  }
}
