.Navbar__Logo {
  font-size: 30px;
  color: var(--color-green-dark);
}
.Navbar__Wrapper {
  display: none;
}
.Navbar__Links {
  position: fixed;
  top: 0;
  right: -220px;
  bottom: 0;
  width: 220px;
  background-color: var(--color-green-light);
  z-index: 10;
  transition: .5s;
}
.Navbar__Links ul {
  display: grid;
  row-gap: 50px;
  grid-auto-flow: row;
  margin: 50px 10px;
}
.Navbar__Active {
  right: 0;
}
.Wrapper__Active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  transition: .5s;
}
@media screen and (min-width: 1024px) {
  .Navbar__Logo {
    display: none;
  }
  .Navbar__Links {
    position: relative;
    right: 0;
    background-color: tomato;
    width: 500px;
  }
  .Navbar__Links ul {
    display: grid;
    grid-auto-flow: column;
  }
}