.Navbar__Logo {
  font-size: 30px;
  color: var(--color-green-dark);
}
.Navbar__Wrapper {
  display: none;
}
.Navbar__Links {
  position: fixed;
  top: 0;
  right: -220px;
  bottom: 0;
  width: 220px;
  background-color: var(--color-green-light);
  z-index: 10;
  transition: 0.5s;
}
.Navbar__Active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  background-color: var(--color-green-light);
  z-index: 10;
  transition: 0.5s;
}
.Navbar__Content ul {
  display: grid;
  row-gap: 50px;
  grid-auto-flow: row;
  margin: 50px 10px;
}

.Wrapper__Active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  transition: 0.5s;
}


@media screen and (min-width: 1024px) {
  .Navbar__Logo {
    display: none;
  }
  .Navbar__Content{
    visibility: visible;
  }
  .Navbar__Links {
    position: relative;
    right: 0;
    background-color: transparent;
    width: 500px;
  }
  .Navbar__Active {
    position: relative;
    right: 0;
    background-color: transparent;
    width: 500px;
  }
  .Navbar__Content a {
    color: var(--color-green-dark);
    position: relative;
  }
  .Navbar__Content a:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    background-color: var(--color-green-dark);
    height: 7%;
    width: 0%;
    transition-property: width;
    transition-duration: 1s;
  }
  .Navbar__Content a:hover::after {
    width: 100%;
  }
  .Navbar__Content ul {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
  }
  .Wrapper__Active {
    display: none;
  }
}
