.Projects__Section {
  height: auto;
  margin: 10rem 0;
  text-align: end;
  z-index: 10;
}
.Projects__Section>h2 {
  opacity: 0;
  z-index: 10;
}
.Projects__Section p {
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--color-text-light);
  opacity: 0;
  z-index: 10;
}
.Projects__List {
  margin: 5rem 0;
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 30rem));
  column-gap: 5rem;
  justify-content: center;
  opacity: 0;
}
.Projects__Item {
  background-color: transparent;
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.Item__Title {
  min-height: 30px;
  display: flex;
  margin-top: 10px;
}
.Item__Tic {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: var(--color-green-dark-strong);
  background-color: var(--color-background);
}
.Title-Techs{
  margin-left: 5px;
}
.Title-Techs h2{
  font-size: 0;
  text-align: left;
}
.Title-Techs h2 a{
  font-size: 1.2rem;
  color: var(--color-green-light);
}
.Title-Techs h2 a:hover{
  color: #0aff94;
}
.Title-Techs span{
  color: var(--color-text-light);
  letter-spacing: 0.5px;
  text-align: left;
}
.Thumbnail__Wrap {
  overflow: hidden;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.Thumbnail__Wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Projects__Item::after {
  position: absolute;
  content: "";
  background-color: rgb(57, 59, 59);
  top: 1rem;
  right: -1rem;
  bottom: -1rem;
  left: 1rem;
  border-radius: 10px;
  z-index: -1;
  transition-property: top left;
  transition-duration: .5s;
}
.Projects__Item:hover::after{
  top: -1rem;
  left: -1rem;
}
.Projects_Section-Button {
  border-radius: 5px;
  border: 1px solid #31483a;
  color: var(--color-green-dark);
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  transition-property: background-color color border-color;
  transition-duration: .5s;
  padding: 1rem 2rem;
  cursor: pointer;
}
.Projects_Section-Button:hover {
  background-color: var(--color-green-dark-strong);
  border-color: var(--color-green-dark);
  color: var(--color-text-dark);
}