.Skills__Section {
  height: auto;
  margin: 10rem 0;
  text-align: end;
}
.Skills__Section h2 {
  opacity: 0;
}
.Skills__Section p {
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--color-text-light);
  opacity: 0;
}
.Skills__Section-List {
  opacity: 0;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  row-gap: 3rem;
  justify-content: center;
}
.Skills__Section-List li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition-duration: 0.8s;
  transition-property: border box-shadow;
}
.Skills__Section-List li i {
  font-size: 40px;
  transition-property: font-size;
  transition-duration: 100ms;
}
.Skills__Section-List li span {
  font-size: .8rem;
  letter-spacing: 1px;
}
.Skills__Section-List li:hover {
  box-shadow: rgb(19, 167, 51) 0px 20px 30px -10px;
}
.Skills__Section-List li:hover>i{
  font-size: 45px;
}
.Skills__Section-List li:nth-child(1) {
  color: #348096;
}
.Skills__Section-List li:nth-child(1):hover {
  color: #5CCFEE;
}

.Skills__Section-List li:nth-child(2) {
  color: #7046B2;
}
.Skills__Section-List li:nth-child(2):hover {
  color: #9b65f1;
}
.Skills__Section-List li:nth-child(3) {
  color:#9c8e12;
}
.Skills__Section-List li:nth-child(3):hover {
  color:#f0df47;
}
.Skills__Section-List li:nth-child(4) {
  color: #2F72BC;
}
.Skills__Section-List li:nth-child(4):hover {
  color: #589feb;
}
.Skills__Section-List li:nth-child(5) {
  color: #D55523;
}
.Skills__Section-List li:nth-child(5):hover {
  color: #fc6327;
}
.Skills__Section-List li:nth-child(6) {
  color: #0B659F;
}
.Skills__Section-List li:nth-child(6):hover {
  color: #2d99e0;
}
.Skills__Section-List li:nth-child(7) {
  color: #BB5E8C;
}
.Skills__Section-List li:nth-child(7):hover {
  color: #f36db0;
}
.Skills__Section-List li:nth-child(8) {
  color: #076ca7;
}
.Skills__Section-List li:nth-child(8):hover {
  color: #119beb;
}
.Skills__Section-List li:nth-child(9) {
  color: #70a835;
}
.Skills__Section-List li:nth-child(9):hover {
  color: #9cdf55;
}
.Skills__Section-List li:nth-child(10) {
  color: #30628A;
}
.Skills__Section-List li:nth-child(10):hover {
  color: #57abf0;
}
.Skills__Section-List li:nth-child(11) {
  color: #b3350f;
}
.Skills__Section-List li:nth-child(11):hover {
  color: #ff6333;
}
.Skills__Section-List li:nth-child(12) {
  color: rgb(228, 224, 224);
}
.Skills__Section-List li:nth-child(12):hover {
  color: #fff;
}
.Skills__Section-List li:nth-child(13) {
  color: #b83315;
}
.Skills__Section-List li:nth-child(13):hover {
  color: #ee502c;
}
.Skills__Section-List li:nth-child(14) {
  color: #4691b4;
}
.Skills__Section-List li:nth-child(14):hover {
  color: #86CBEC;
}
.Skills__Section-List li:nth-child(15) {
  color: rgb(202, 200, 200);
}
.Skills__Section-List li:nth-child(15):hover {
  color: #fff;
}
