@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --color-text-dark: #FEFEFE;
  --color-text-light: #b1afaf;
  --color-background: #2A2A2A;
  --color-background-second: #111111;
  --color-green-dark: #2FB87C;
  --color-green-light: #42d193;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Poiret One', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  padding: 10px;
}
a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 22px;
}

.scroll-down .Header {
  transform: translate3d(0, -100%, 0);
}
.scroll-up {
  transform: none;
}